*.vo
*.vio
*.vos
*.vok
*.v.d
.coqdeps.d
*.glob
*.cache
*.aux
\#*\#
.\#*
*~
*.bak
.coqdeps.d
.coq-native/
_opam
builddep/
Makefile.coq
Makefile.coq.conf
.Makefile.coq.d
*.crashcoqide
docs/*.cp*
docs/*.pdf
docs/*.dvi
docs/*.html
docs/*.info
docs/*.toc
docs/*.log
docs/*.fn*
